mixin price-mixin(type, sum, location, text, className, list)
    .price-mixin(class=className)
        .price__type=type
        .price__sum=sum + ' р'
        .price__location=location
        ul.price__list
            each i in list
                li.price__li= i
        .card__text=text
        .price__services
            .price__help Помощь в позировании
            .price__visagiste Визажист + 2000 р
            .price__retouch Дополнительная ретушь фото — 1 шт. / 250 ₽
        .button.button_price ЗАБРОНИРОВАТЬ

.price
    .price__title Стоимость фотосессии
 
    include ../partials/card.pug
    - const price__mini = ['Длительность — 30 минут', 'Исходники — До 100 штук', 'Ретушь — 4 фото', 'Аренда фотостудии — Бесплатно', 'Любой образ']
    - const price__standart = ['Длительность — 1 час 20 минут', 'Исходники — До 200 штук', 'Ретушь — 8 фото', 'Аренда фотостудии — Бесплатно', 'Любой образ']
    - const price__maxi = ['Длительность — 4 часа', 'Исходники — До 500 штук', 'Ретушь — 50 фото', 'Аренда фотостудии — Бесплатно', 'Визажист — Make-Up, Укладка', 'Предварительный подбор образов — До 8 образов']
    - const price__text = 'Дополнительные услуги';
    - const prices = [
    -  {type: 'MINI', sum: '2500', location: '/ 1 локация', price__text, class: 'price-mixin-mini', rate: price__mini},
    -  {type: 'STANDART', sum: '5000', location: '/ 2 локации', price__text, class: 'price-mixin-standart', rate: price__standart},
    - {type: 'MAXI', sum: 'N', location: '/ Максимальное количество локаций', price__text, class: 'price-mixin-maxi', rate: price__maxi}]

    .price__content
        each item in prices
          +price-mixin(item.type, item.sum, item.location, price__text, item.class, item.rate)
    img.price__img(src='../assets/images/curve-price.png')
